<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jingGang.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5BD51009DFAD151B2DA28F5E567308F511DCD8FE</string>
				<key>dateExpires</key>
				<string>2020/5/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N2XYX2ZTZG.com.bhesky.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>N2XYX2ZTZG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>jingGang.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3794274b-bbdf-4206-83b1-2f37daca1a14</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.bhesky.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N2XYX2ZTZG</string>
				<key>name</key>
				<string>Wuhan Bahong Health Management Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
