<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>e生康缘</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxd79064d3a661cb64</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1107801846</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3211180429</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yspersonalscheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxd79064d3a661cb64</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ4207B6F6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ys.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ysiosdevelop</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eshengyuan</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sinaweibohdsso</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>alipay</string>
		<string>alipayshare</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>e生康缘需要访问蓝牙、实现连接健康体检一体机等功能、否则不能使用一体机硬件功能</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要您的同意,才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>e生康缘因扫码需要调用相机功能，若不允许，则不能实现扫码功能</string>
	<key>NSHealthShareUsageDescription</key>
	<string>如果不允许读取,将无法获取您的步数,无法为您提供健康周报</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>如果不允许读取,将无法获取您的步数,无法为您提供健康周报</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>e生康缘需要访问用户LBS定位，以便e生康缘为用户提供所在位置的周边服务信息，用户可选择是否开启定位服务和同意e生康缘访问定位</string>
	<key>NSLocationUsageDescription</key>
	<string>e生康缘需要访问用户LBS定位，以便e生康缘为用户提供所在位置的周边服务信息，用户可选择是否开启定位服务和同意e生康缘访问定位</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>e生康缘需要访问用户LBS定位，以便e生康缘为用户提供所在位置的周边服务信息，用户可选择是否开启定位服务和同意e生康缘访问定位</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>e生康缘需要访问麦克风实现肺活量测试功能，否则不能测试肺活量等功能</string>
	<key>NSMotionUsageDescription</key>
	<string>如果不允许读取,将无法获取您的步数,无法为您提供健康周报</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>e生康缘"更换头像及发朋友圈功能需要用到相册，若不允许，则不能更换头像、不能发朋友圈</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>e生康缘需要访问相册，若不允许则不能实现更换头像及发朋友圈功能</string>
	<key>NSRemindersUsageDescription</key>
	<string>App需要您的同意,才能访问提醒事项</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
